$navigation-height: 72px;

// Colors
$black: #000;
$primary: #72b2ca;
$secondary: #f8b5a8;

// Options
$enable-gradients: true;
$enable-responsive-font-sizes: true;
$enable-shadows: true;

// Typography
$font-size-base: 1.125rem;
$line-height-base: 1.5;
$spacer: 1 * $font-size-base * $line-height-base !default;
$grid-gutter-width: $spacer;
$font-family-base: 'adobe-garamond-pro', serif;

$border-radius: 0.25 * $spacer !default;
$border-radius-lg: 0.3 * $spacer !default;
$border-radius-sm: 0.2 * $spacer !default;

$paragraph-margin-bottom: 1 * $spacer !default;
$border-radius: 0.25 * $font-size-base !default;
$border-radius-lg: 0.3 * $font-size-base !default;
$border-radius-sm: 0.2 * $font-size-base !default;
$rounded-pill: 50 * $font-size-base !default;

$box-shadow-sm: 0 0.125 * $font-size-base 0.25 * $font-size-base
  rgba($black, 0.075) !default;
$box-shadow: 0 0.5 * $font-size-base 1 * $font-size-base rgba($black, 0.15) !default;
$box-shadow-lg: 0 1 * $font-size-base 3 * $font-size-base rgba($black, 0.175) !default;
$display1-size: 6 * $font-size-base !default;
$display2-size: 5.5 * $font-size-base !default;
$display3-size: 4.5 * $font-size-base !default;
$display4-size: 3.5 * $font-size-base !default;
$kbd-box-shadow: inset 0 -0.1 * $font-size-base 0 rgba($black, 0.25) !default;
$list-inline-padding: 0.5 * $font-size-base !default;
$table-cell-padding: 0.75 * $font-size-base !default;
$table-cell-padding-sm: 0.3 * $font-size-base !default;
$input-btn-padding-y: 0.375 * $font-size-base !default;
$input-btn-padding-x: 0.75 * $font-size-base !default;
$input-btn-focus-width: 0.2 * $font-size-base !default;
$input-btn-padding-y-sm: 0.25 * $font-size-base !default;
$input-btn-padding-x-sm: 0.5 * $font-size-base !default;
$input-btn-padding-y-lg: 0.5 * $font-size-base !default;
$input-btn-padding-x-lg: 1 * $font-size-base !default;
$btn-block-spacing-y: 0.5 * $font-size-base !default;
$label-margin-bottom: 0.5 * $font-size-base !default;
$form-text-margin-top: 0.25 * $font-size-base !default;

$form-check-input-gutter: 1.25 * $font-size-base !default;
$form-check-input-margin-y: 0.3 * $font-size-base !default;
$form-check-input-margin-x: 0.25 * $font-size-base !default;

$form-check-inline-margin-x: 0.75 * $font-size-base !default;
$form-check-inline-input-margin-x: 0.3125 * $font-size-base !default;
$form-group-margin-bottom: 1 * $font-size-base !default;
$custom-control-gutter: 0.5 * $font-size-base !default;
$custom-control-spacer-x: 1 * $font-size-base !default;

$custom-control-indicator-size: 1 * $font-size-base !default;
$custom-select-indicator-padding: 1 * $font-size-base !default; // Extra padding to account for the presence of the background-image based indicator
$custom-range-track-height: 0.5 * $font-size-base !default;
$custom-range-track-border-radius: 1 * $font-size-base !default;
$custom-range-track-box-shadow: inset 0 0.25 * $font-size-base 0.25 *
  $font-size-base rgba($black, 0.1) !default;
$custom-range-thumb-width: 1 * $font-size-base !default;
$custom-range-thumb-border-radius: 1 * $font-size-base !default;
$custom-range-thumb-box-shadow: 0 0.1 * $font-size-base 0.25 * $font-size-base
  rgba($black, 0.1) !default;
$nav-link-padding-y: 0.5 * $font-size-base !default;
$nav-link-padding-x: 1 * $font-size-base !default;
$navbar-nav-link-padding-x: 0.5 * $font-size-base !default;
$navbar-toggler-padding-y: 0.25 * $font-size-base !default;
$navbar-toggler-padding-x: 0.75 * $font-size-base !default;
$dropdown-min-width: 10 * $font-size-base !default;
$dropdown-padding-y: 0.5 * $font-size-base !default;
$dropdown-spacer: 0.125 * $font-size-base !default;
$dropdown-box-shadow: 0 0.5 * $font-size-base 1 * $font-size-base
  rgba($black, 0.175) !default;
$dropdown-item-padding-y: 0.25 * $font-size-base !default;
$dropdown-item-padding-x: 1.5 * $font-size-base !default;
$pagination-padding-y: 0.5 * $font-size-base !default;
$pagination-padding-x: 0.75 * $font-size-base !default;
$pagination-padding-y-sm: 0.25 * $font-size-base !default;
$pagination-padding-x-sm: 0.5 * $font-size-base !default;
$pagination-padding-y-lg: 0.75 * $font-size-base !default;
$pagination-padding-x-lg: 1.5 * $font-size-base !default;
$jumbotron-padding: 2 * $font-size-base !default;
$card-spacer-y: 0.75 * $font-size-base !default;
$card-spacer-x: 1.25 * $font-size-base !default;
$card-img-overlay-padding: 1.25 * $font-size-base !default;
$card-columns-gap: 1.25 * $font-size-base !default;
$tooltip-padding-y: 0.25 * $font-size-base !default;
$tooltip-padding-x: 0.5 * $font-size-base !default;
$tooltip-arrow-width: 0.8 * $font-size-base !default;
$tooltip-arrow-height: 0.4 * $font-size-base !default;
$popover-box-shadow: 0 0.25 * $font-size-base 0.5 * $font-size-base
  rgba($black, 0.2) !default;
$popover-header-padding-y: 0.5 * $font-size-base !default;
$popover-header-padding-x: 0.75 * $font-size-base !default;
$popover-arrow-width: 1 * $font-size-base !default;
$popover-arrow-height: 0.5 * $font-size-base !default;
$toast-padding-x: 0.75 * $font-size-base !default;
$toast-padding-y: 0.25 * $font-size-base !default;
$toast-font-size: 0.875 * $font-size-base !default;
$toast-border-radius: 0.25 * $font-size-base !default;
$toast-box-shadow: 0 0.25 * $font-size-base 0.75 * $font-size-base
  rgba($black, 0.1) !default;
$badge-pill-border-radius: 10 * $font-size-base !default;
$modal-inner-padding: 1 * $font-size-base !default;

$modal-dialog-margin: 0.5 * $font-size-base !default;
$modal-dialog-margin-y-sm-up: 1.75 * $font-size-base !default;
$modal-content-box-shadow-xs: 0 0.25 * $font-size-base 0.5 * $font-size-base
  rgba($black, 0.5) !default;
$modal-content-box-shadow-sm-up: 0 0.5 * $font-size-base 1 * $font-size-base
  rgba($black, 0.5) !default;
$modal-header-padding-y: 1 * $font-size-base !default;
$modal-header-padding-x: 1 * $font-size-base !default;
$alert-padding-y: 0.75 * $font-size-base !default;
$alert-padding-x: 1.25 * $font-size-base !default;
$alert-margin-bottom: 1 * $font-size-base !default;
$progress-height: 1 * $font-size-base !default;
$progress-box-shadow: inset 0 0.1 * $font-size-base 0.1 * $font-size-base
  rgba($black, 0.1) !default;
$list-group-item-padding-y: 0.75 * $font-size-base !default;
$list-group-item-padding-x: 1.25 * $font-size-base !default;
$thumbnail-padding: 0.25 * $font-size-base !default;
$breadcrumb-padding-y: 0.75 * $font-size-base !default;
$breadcrumb-padding-x: 1 * $font-size-base !default;
$breadcrumb-item-padding: 0.5 * $font-size-base !default;

$breadcrumb-margin-bottom: 1 * $font-size-base !default;
$spinner-width: 2 * $font-size-base !default;
$spinner-width-sm: 1 * $font-size-base !default;
$kbd-padding-y: 0.2 * $font-size-base !default;
$kbd-padding-x: 0.4 * $font-size-base !default;
